/* app.css */

/* Reset všech základních elementů */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset pro tělo stránky */
body {
  font-family: 'Montserrat', Arial, sans-serif; /* Nastavte Montserrat jako výchozí font */
  line-height: 1.5;
  background-color: #f4f4f4; /* Změňte podle potřeby */
  color: #333; /* Barva textu */
}

/* Odstraní podtržení u odkazů */
a {
  text-decoration: none;
  color: inherit; /* Barva odkazu bude dědit od rodiče */
}

/* Pro seznamy, aby neměly výchozí odrážky */
ul,
ol {
  list-style: none;
}

/* Pro tabulky, zrušení mezer mezi buňkami */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Pro formuláře, zrušení výchozího stylu pro inputy a textarea */
input,
textarea,
button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/* Zajištění, že obrázky budou responsivní */
img {
  max-width: 100%;
  height: auto;
}

/* Reset pro hrany a rámečky */
hr {
  border: none;
  border-top: 1px solid #ccc;
}

/* Zrušení výchozích stylů pro některé HTML5 elementy */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
