/* Nastavení pozadí a základního boxu */
.home-container {
 background: 
   url("/src/assets/img/dentist-with-smile-lq.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 width: 100vw;
 height: 100vh;
 position: relative;
 margin: 0;
}

.background-overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.content-wrapper {
 position: absolute;
 top: 25%;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 font-family: "Roboto", sans-serif;
 animation: fadeIn 1.5s ease-in-out;

}

.main-title {
 color: rgb(0, 51, 102);
 text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
 font-size: 3rem;
 text-transform: uppercase;
 padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {
 .main-title {
   font-size: 3.5rem;
 }
}

@media screen and (min-width: 960px) {
 .main-title {
   font-size: 4rem;
 }
}

.sub-title {
 margin-top: 1rem;
 color: rgb(0, 51, 102);
 font-weight: 300;
 letter-spacing: 1px;
 text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
 font-size: 1.5rem;
 text-transform: uppercase;
 padding-bottom: 2rem;
}

@media screen and (min-width: 600px) {
 .sub-title {
   font-size: 2rem;
 }
}

@media screen and (min-width: 960px) {
 .sub-title {
   font-size: 2.5rem;
 }
}

.opening-time-wrapper {
 margin-top: 20px; /* Odsazení mezi textem a tabulkou */
}

/* Animace pro fade-in */
@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
