.footer {
 background-color: #292b2c;
 color: white;
 padding: 16px 0;
 margin-top: auto;
}

.footer-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 text-align: center;
}

.footer-box {
 flex: 1 1 200px;
 margin-bottom: 16px;
}

.footer-logo {
 display: flex;
 align-items: center;
 gap: 8px;
 justify-content: center;
}

.footer-logo-image {
 height: 50px;
}

.footer-logo-text {
 font-weight: bold;
}

.footer-logo-subtitle {
 font-size: 0.9rem;
}

.footer-copyright {
 margin-top: 8px;
 font-size: 0.8rem;
}

.footer-social {
 display: flex;
 justify-content: center;
 gap: 8px;
}

.footer-social-icon {
 margin: 0 4px;
}

.footer-contact {
 font-size: 0.9rem;
}

.opening-time {
 font-size: 0.9rem;
 color: blueviolet;
 align-items: center !important;
}